.container {
  display: flex;
  background-color: lightblue;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 10px;
}

#type1 div {
  background-color: grey;
  flex-grow: 1;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
}

#type1 div:last-child {
  background-color: grey;
  flex-grow: 1;
  margin: 10px;
  height: 50px;
}

#type2 div {
  background-color: grey;
  flex-grow: 1;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 50px;
}

#type2 div:last-child {
  background-color: grey;
  flex-grow: 1;
  margin: 15px;
  height: 50px;
}

#type3 .wide {
  background-color: grey;
  flex-grow: 2;
  margin: 12px; 
  height: 50px;
  border: 2px solid black;
}

#type3 .narrow {
  background-color: grey;
  flex-grow: 1;
  margin-right: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  height: 50px;
  border: 2px solid black;
}

#type4 .narrow {
  background-color: grey;
  flex-grow: 1;
  margin-left: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  height: 50px;
  border: 2px solid black;
}

#type4 .narrow:last-child {
  background-color: grey;
  flex-grow: 1;
  margin: 12px;
  height: 50px;
  border: 2px solid black;
}

#type4 .footer {
  background-color: grey;
  flex-grow: 1;
  margin: 12px; 
  height: 50px;
  border: 2px solid black;
  flex-basis: 100%;
}